.userList li {
  border: 2px black solid;
  width: 200px;
  padding: 20px;
  list-style: none;
  text-align: center;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s ease-out all;
  background: rgb(255, 255, 255, 0.7);
  position: relative;
}

.user-buttons {
  position: absolute;
  top: 3%;
  left: 3%;
}

.user-buttons button {
  border-radius: 6px;
  margin: 0 2px;
  border: 1px black solid;
  transition: 0.3s ease-out all;
  cursor: pointer;
}

.user-buttons button:hover {
  transform: scale(1.15)
}

.userList li:hover {
  transform: scale(1.1)
}

.user-details {
  border: 2px black solid;
  padding: 20px;
  text-align: center;
  background: rgb(255, 255, 255, 0.8);
}

.userList {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-input {
  border-radius: 5px;
  padding: 7px;
  margin-top: 10px;
}

.full {
  width: 100vw;
  height: 100vh;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.main-center {
  justify-content: center;
}

.sub-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.center {
  text-align: center;
}

.clear-list {
  list-style: none;
}

.layout {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.main-background {
  background: url('./assets/bitCoin-wallpaper.jpg');
  background-size: cover;
  background-position: center
}

.avatar-img {
  width: 100px;
  height: 100px;
}

.white {
  color: white;
}